@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />    
    <link rel="stylesheet" href="~/lib/font-awesome/css/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-info mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-light fa-cart-shopping"></i> ITShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SanPhamNoiBat"><i class="fa-light fa-fw fa-chart-pie"></i> Sản phẩm nổi bật</a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="GioHang"><i class="fa-light fa-fw fa-shopping-cart"></i> Giỏ hàng</a>
                        </li>
                        @if (!_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login"><i class="fa-light fa-fw fa-sign-in-alt"></i> Đăng nhập</a>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-light fa-user-circle"></i> @_httpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "HoVaTen")?.Value
                                </a>

                                <ul class="dropdown-menu">

                                    <li><a class="dropdown-item" asp-area="" asp-controller="KhachHang" asp-action="DonHangCuaToi"><i class="fa-light fa-fw fa-file-chart-pie"></i> Đơn hàng của tôi</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="KhachHang" asp-action="DoiMatKhau"><i class="fa-light fa-fw fa-key"></i> Đổi mật khẩu</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout"><i class="fa-light fa-fw fa-sign-out-alt"></i> Đăng xuất</a></li>
                                </ul>
                            </li>

                            @if (_httpContextAccessor.HttpContext.User.IsInRole("Admin"))

                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa-light fa-fw fa-gear"></i> Khu vực quản trị</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main">
            @RenderBody()
        </main>

        <hr />
        <footer>&copy; 2023 bởi ITShop.</footer>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>