@model ITShop.Models.DatHang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DatHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="NguoiDungID" class="control-label"></label>
                <select asp-for="NguoiDungID" class="form-control" asp-items="ViewBag.NguoiDungID"></select>
                <span asp-validation-for="NguoiDungID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrangID" class="control-label"></label>
                <select asp-for="TinhTrangID" class="form-control" asp-items="ViewBag.TinhTrangID"></select>
                <span asp-validation-for="TinhTrangID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoaiGiaoHang" class="control-label"></label>
                <input asp-for="DienThoaiGiaoHang" class="form-control" />
                <span asp-validation-for="DienThoaiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiGiaoHang" class="control-label"></label>
                <input asp-for="DiaChiGiaoHang" class="form-control" />
                <span asp-validation-for="DiaChiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDatHang" class="control-label"></label>
                <input asp-for="NgayDatHang" class="form-control" />
                <span asp-validation-for="NgayDatHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
