@model ITShop.Models.SanPham

@{
    ViewData["Title"] = "Sửa sản phẩm";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            
            <div class="mb-3">
                <label asp-for="HangSanXuatID" class="control-label"></label>
                <select asp-for="HangSanXuatID" class="form-control" asp-items="ViewBag.HangSanXuatID">
                    <option value="">-- Chọn --</option>
                </select>
                <span asp-validation-for="HangSanXuatID" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="LoaiSanPhamID" class="control-label"></label>
                <select asp-for="LoaiSanPhamID" class="form-control" asp-items="ViewBag.LoaiSanPhamID">
                    <option value="">-- Chọn --</option>
                </select>
                <span asp-validation-for="LoaiSanPhamID" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="TenSanPham" class="control-label"></label>
                <input asp-for="TenSanPham" class="form-control" />
                <span asp-validation-for="TenSanPham" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                @if (!string.IsNullOrEmpty(Model.HinhAnh))
                {

                    <span class="d-block mb-2"><img src="/uploads/@Model.HinhAnh" width="80" class="img-thumbnail" /></span>
                    <span class="d-block mb-2 mt-2 small text-danger">Bỏ trống nếu không muốn cập nhật ảnh mới!</span>
                }
                <label asp-for="DuLieuHinhAnh" class="control-label"></label>
                <input asp-for="DuLieuHinhAnh" accept="image/jpeg,image/gif,image/png" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            
            <div class="mb-0">
                <button type="submit" class="btn btn-primary"><i class="fa-light fa-floppy-disk"></i> Cập nhật</button> hoặc <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}