@{
    ViewData["Title"] = "Trang chủ";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <p class="card-text">Nội dung trang chủ đang cập nhật.</p>
    </div>
</div>