@model ITShop.Models.DangNhap
@{
    ViewData["Title"] = "Đăng nhập";
}
<div class="container py-4 my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="h4 mb-1">Đăng nhập</h2>
                    <div class="py-3">
                        <h3 class="d-inline-block align-middle fs-base fw-medium mb-2 me-2">Đăng nhập với:</h3>
                        <div class="d-inline-block align-middle">
                            <a class="btn-social bs-google me-2 mb-2" href="#" data-bs-toggle="tooltip" title="Đăng nhập với Google">
                                <i class="ci-google"></i>
                            </a>
                            <a class="btn-social bs-facebook me-2 mb-2" href="#" data-bs-toggle="tooltip" title="Đăng nhập với Facebook">
                                <i class="ci-facebook"></i>
                            </a>
                            <a class="btn-social bs-twitter me-2 mb-2" href="#" data-bs-toggle="tooltip" title="Đăng nhập với Twitter">
                                <i class="ci-twitter"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <h3 class="fs-base pt-4 pb-2">Hoặc sử dụng thông tin đã có</h3>
                    @if (TempData["ThongBaoLoi"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <i class="ci-close-circle me-2"></i>@TempData["ThongBaoLoi"]
                        </div>
                    }
                    <form asp-action="Login" class="needs-validation" novalidate>
                        <input type="hidden" asp-for="LienKetChuyenTrang" value="@ViewBag.LienKetChuyenTrang" />
                        <div class="input-group mb-3">
                            <i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input asp-for="TenDangNhap" class="form-control rounded-start" placeholder="Tên đăng nhập" required />
                        </div>
                        <div class="input-group mb-3">
                            <i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <div class="password-toggle w-100">
                                <input asp-for="MatKhau" class="form-control" placeholder="Mật khẩu" required />
                                <label class="password-toggle-btn" aria-label="Hiện/Ẩn mật khẩu">
                                    <input class="password-toggle-check" type="checkbox" />
                                    <span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="DuyTriDangNhap" checked />
                                <label class="form-check-label" for="DuyTriDangNhap">Ghi nhớ đăng nhập</label>
                            </div>
                            <a class="nav-link-inline fs-sm" asp-area="" asp-controller="Home" asp-action="Register">Chưa có tài khoản?</a>
                            <a class="nav-link-inline fs-sm" href="#">Quên mật khẩu?</a>
                        </div>
                        <hr class="mt-4">
                        <div class="text-end pt-4">
                            <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>